.navbar-default{
	background-color: #2B3E50;
}

.text-wrap
{
display: inline-block;
word-break: break-word;
word-wrap: break-word;
}

#notification
{
	position: absolute;
	z-index:1;
	background: rgba(223, 105, 26, 0.5);
	left: 0px;
	top: 0px;
	width:100%;
	text-align: center;
}
