{% include '/misc/header.html.twig'%}

<article class="container">
	<div class="col-md-12">
		<h1 class="text-warning">Gestion du Profil</h1><br/>
		<div class="col-md-offset-2 col-md-8">
			<h2>Utilisateur : <strong>{{user.getUser()}}</strong></h2>

			<form class="form-group" action="./changePass" method="POST">
				<input type="hidden" name="route" value="home">
				<p>Si vous souhaitez changer le mot de passe </p>
				Veuillez entrer votre mot de passe actuel :
				<input class="form-control" type="password" name="oldPassword" required>
				Votre nouveau mot de passe :
				<input class="form-control" type="password" name="newPassword" required>
				Veuillez confirmer votre mot de passe
				<input class="form-control" type="password" name="passwordComfirm" required>
				<br/>
				<input class="form-control" type="submit" name="update">
			</form>
		</div>
	</div>
</article>

{% include '/misc/footer.html.twig'%}