<!DOCTYPE html>
<html>
<head>
	<title>Blog Ecrivain</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<header class="col-md-12">
		<h1 class=jumbotron>Blog écrivain</h1>
		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li clas="active"><a href="#">Home</a></li>
				<li><a href="#">Forum</a></li>
				<li><a href="#">Contact</a></li>				
			</ul>
		</nav>
	</header>
</div>


