{% include 'header.html.twig'%}

<article class="container">
	<div class="row col-md-12">
		
		
		<h2>{{post.getTitle}}</h2>
		<p>{{post.getContent}}</p>

			
</div>
</article>
{% include 'footer.html.twig'%}